/* CSS Document */
/*on fait un reset pour éliminer les espacements intrinseques produits par certaines balises*/
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
/*permet de retirer les bordures mises en automatique par le
navigateur lors d'un clic*/
a,input, textarea{
	outline:none;
}

body{
	font-family:arial,sans-serif;
	font-size:0.63em;/*permet de ramener la taille par défaut de la police à 10px : en gros 1em=10px*/
	overflow:hidden;/*permet de supprimer les barres de défilements*/
}

.fermer{
	margin:1vw 0;
	font-size:2.2em;
}

.fermer a{
	color:#000;
	text-decoration:none;	
}

.fermer a:hover{
	background:#000;
	padding:5px 10px;
	border-radius:4px;
	color:#fff;
}

.ouvrir{
	font-size:3em;
	position:absolute;
	bottom:30px;
	left:50%;
	transform:translateX(-50%);/*permet de revenir vers la gauche (-) de la moitié de la largeur de l'élement*/
	z-index:2;
	width:50px;
	height:50px;	
}

.ouvrir a{
	color:#1d335d;
	background:#fff;
	border-radius:50%;
	display:block;
	text-align:center;
	font-weight:bold;/*texte en gras*/
	line-height:50px;
	/*permet d'aligner le + en hauteur
	car line-height=height de la div ouvrir*/
	text-decoration:none;	
}

.ouvrir a:hover{
	background:#ff6817;	
}

h1{
	font-size:3.2em;
}

p{
	font-size:1.4em;
}

.placement{
	position:absolute;
	z-index:2;
	height:90vh;
	width:100%;
	text-align:center;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	background:#fff;
	overflow:auto;	
}

.triangle{
	width:5vw;
	height:5vw;
	border-left:2.5vw solid transparent;
	border-right:2.5vw solid transparent;	
	border-top:2.5vw solid #c3c3c3;
}

/**HEADER**************************************************/

header{
	background:#000;
	display:flex;/*aligne horizontalement le logo + le menu + la div*/
	padding:0 10%;
	position:fixed;/*fixe : évite de bouger si scroll de la souris*/
	top:0;
	left:0;
	width:100%;
	z-index:100;
	height:10vh;
	align-items:center;
	justify-content:space-between;/*permet de répartir les espaces de façon equitable entre les balises enfants de header*/
	flex-wrap:wrap;/*permet le passage à la ligne quand les éléments alignés par "display:flex" n'ont plus assez de place sur la largeur de l'écran*/
	}

#logo{
	height:auto;
}

#menu_haut{
	font-size:1.4em;
}

#menu_haut ul{
	display:flex;/*aligne horizontalement les items*/
	list-style-type:none;/*enleve les puces*/
	height:100%;
	align-items:center;/*permet d'aligner verticalement les items*/
	flex-wrap:wrap;
}

#menu_haut li{
	padding:0 15px;
}

#menu_haut a{
	color:#b4b4b4;
	text-decoration:none;/*enleve le soulignement des liens*/
	position:relative;
}

#menu_haut a:hover{
	color:#fff;	
}

#menu_haut a:hover:before{
	content:"";
	border-left:16px solid transparent;
	border-right:16px solid transparent;	
	border-bottom:16px solid #fff;
	position:absolute;
	z-index:101;
	bottom:-31px;
	left:50%;
	transform:translateX(-50%);
}

#panier{
	display:flex;
	align-items:center;
}

.call_to_action{	
	display:inline-block;
	float:right;
	margin:50px 0 0;
	font-size:1.3em;
}

.call_to_action a{
	color:#fff;
	padding:10px 20px;
	background:#000;
	border:1px solid #3f768e;
	border-radius:5px;
	text-decoration:none;/*enleve le soulignement par défaut des liens*/
}

.call_to_action a:hover{
	background:#fb5b1a;	
	transition:0.5s all ease;
}

/**SLIDER*************************************************************/
#slider{
	min-height:90vh;
	background:url("../images/snowboard-1.jpg") no-repeat center right / cover;
	position:fixed;
	width:100%;
	top:10vh;
	left:0;
	z-index:1;
	/*permettra à toutes les balises enfants de #slider
	de se positionner en x,y par rapport à #slider*/
}

#text_slider{
	position:absolute;
	top:20%;
	right:50%;
	z-index:auto;
}

#text_slider h1{
	font-size:4.2vw;
	color:#fff;
}

/**CARROUSEL*************************************************/
#carrousel{
	bottom:90vh;/*on place le carrousel à 90vh en partant du bas*/
	left:0;
}

#carrousel img{
	width:100%;
	margin:1vw 0;
}
#carrousel h2{
	font-size:1.7em;
}

#carrousel:target{
	bottom:0;
	transition:1s all ease;
}

/**TEAM*******************************************************/
#team{
	bottom:90vh;/*on place le carrousel à 90vh en partant du bas*/
	left:0;
}

#team:target{
	bottom:0;
	transition:1s all ease;	
}

.album{
	display:flex;
	flex-wrap:wrap;
	width:70%;
	margin:0 auto;
	justify-content:center;
}

.image{
	width:10vw;
	height:10vw;
	overflow:hidden;
	text-align:center;
	margin:1vw;
	border-radius:5px;
}

.image img{
	min-width:10vw;
	min-height:10vw;
}

.image img:hover{
	transform:scale(1.2) rotate(15deg);
	transform-origin:center;
	transition:0.4s all ease;
}

.image:hover{
	border:4px solid #182a4e;
}

.album figcaption{
	width:100%;
	font-size:1.2em;
}

/**COMPANY***********************************************/
#company{
	bottom:0;
	left:-100vw;
}

#company:target{
	left:0;
	transition:1s all ease;	
}

#company article{
	width:70%;
	margin:2vw auto 3vw;	
}

#company article img{
	width:40%;
	float:left;
	margin:0 2vw 0 0;
	border-radius:8px;
}
#company article p{
	text-align:left;
	padding:15px 0;
	font-size:1.8em;
	line-height:1.8em;
}

.reso{
	position:absolute;
	z-index:3;
	bottom:10px;
	left:50%;
	transform:translateX(-50%);		
}

.reso .dashicons{
	font-size:4em;
	color:orange;
	width:1.6em;
	height:1.6em;
}

/**PRODUITS***********************************************/
#produits{
	bottom:0;
	left:-100vw;

}

#produits:target{
	left:0;
	transform:rotate(360deg);
	transition:1s all ease;	
}

#produits article{
	width:60%;
	margin:2vw auto;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	align-items:center;
	font-size:1.5em;
}

#produits article img{
	width:40%;
	height:auto;
}

#produits article ul{
	text-align:left;
	list-style-type:none;
	width:55%;
}

#produits article li{
	padding:8px 0;
}

.prix{
	font-size:2.5em;
	font-weight:bold;
	color:#fb7222;
}

/**EVENTS***********************************************/
#events{
	bottom:0;
	left:-100vw;
}

#events:target{
	left:0;
	transition:1s all ease;	
}


/**CONTACT***********************************************/
#contact{
	bottom:90vh;/*on place le carrousel à 90vh en partant du bas*/
	left:0;
	background:url("../images/snowboard-2.jpg") no-repeat center center / cover;
}

#contact:target{
	bottom:0;
	transition:1s all ease;	
}

#contact form{
	width:40%;
	font-size:1.4em;
}

#contact input,#contact textarea{
	width:100%;
	display:block;
	padding:8px 15px;
	border-radius:4px;
	border:none;
	background:rgba(255,255,255,0.75);
	margin:10px 0;
	font-family:inherit;
	font-size:inherit;	
}

#contact textarea{
	min-height:150px;
	max-height:220px;
	min-width:100%;
	max-width:100%;	
}
/*permet de ne s'adresser qu'au bouton*/
#contact input[type=submit]{
	background:#fb5b1a;
	width:auto;
	margin:25px auto 0;
	color:#fff;
	font-weight:bold;
	padding:10px 30px;
}

#contact input[type=submit]:hover{
	background:#30549d;
}

#contact input[type=submit]:active{
	box-shadow:2px 2px 5px #000 inset;		
}

@keyframes transition{
0%{opacity:0;transform:rotate(0deg)}
10%{opacity:0;transform:rotate(5deg)}
15%{opacity:0.1;transform:rotate(-5deg)}
20%{opacity:0.2;transform:rotate(5deg)}
25%{opacity:0.3;transform:rotate(-5deg)}
30%{opacity:0.4;transform:rotate(5deg)}
35%{opacity:0.5;transform:rotate(-5deg)}
50%{opacity:0.75;transform:rotate(0deg)}
100%{opacity:1;}
}

#message{
	opacity:0;
	animation:transition 1s ease-in-out 1.5s forwards;}

#message{
	background:#30549d;
	border-radius:5px;
	padding:10px;
	width:40%;
	color:#fff;
}



